.action {
  composes: color background-secondry from '../../styles/colors.module.css';
  composes: bevel-lg from '../../styles/effects.module.css';
  margin-bottom: 1em;
}

.action :global a {
  color: #fff;
  border-right: solid 2px #B19898;
  border-radius: 0;
}


.nav > li > a {
  padding: 8px 10px;
}

.nav li a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #370F2A;
}

/*.nav :global > li > a:hover, .nav : global > li > a:focus {

}
*/
.nav-pills > li > a {
  border-radius: 0;
}
.lastPill a {
  border: 0;
}
