.mediaImage {
  composes: thumbnail from '../../styles/layout.module.css';
  composes: bevel from '../../styles/effects.module.css';
  background: #fff;
}
.title {
  composes: subTitle from '../../styles/typography.module.css';
  font-size: 1.1em;
}
